.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    direction: rtl;

    .field {
        margin-bottom: 1.5rem;
        label {
            display: block;
            margin-bottom: 0.5rem;
            font-weight: bold;
        }
    }

    .w-full {
        width: 100%;
    }
}